#front-page {
	position: relative;
    height: 70%;
    padding: 100px 15px;
}

#front-page h2 small{
	color: white;
}

.images {
	margin: 0 auto;
	vertical-align: middle;
	display:block;
}

.promo{
	text-align: center;
	margin-bottom: 7%;
}
.navbar{
	margin-bottom: 0px;
}
.cover {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(img/bg.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 3%;
}
.material-icons.md-75 { font-size: 75px; }